In [1]:
import pandas as pd

In [2]:
# read the dataset
df = pd.read_csv('../../data/raw_data/Heart_Disease.csv')

In [3]:
# show the first 5 rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [4]:
# dataset dimension
df.shape

(303, 14)

In [5]:
# show the column types
df.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca           object
thal         object
target        int64
dtype: object

In [6]:
# number of unique values per feature
df.nunique().sort_values(ascending=False)

chol        152
thalach      91
trestbps     50
age          41
oldpeak      40
target        5
ca            5
thal          4
cp            4
slope         3
restecg       3
exang         2
fbs           2
sex           2
dtype: int64

In [7]:
# check if there are NaN values
df.isna().values.any()

False

In [8]:
#check if the data is balanced
df['target'].value_counts()

0    164
1     55
2     36
3     35
4     13
Name: target, dtype: int64

In [9]:
# I decided to merge the classes labeled 1,2,3,4 that indicate presence of heart disease
df['target'].replace([2,3,4],[1,1,1],inplace=True)

In [10]:
#check if the data is balanced
df['target'].value_counts()

0    164
1    139
Name: target, dtype: int64

In [11]:
# write dataset to csv file
df.to_csv('../../data/clean_data/Heart_Disease.csv')