In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [3]:
# read the dataset
df = pd.read_csv('../../data/raw_data/Heart_Disease.csv')

In [4]:
# show the first 5 rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# dataset dimension
df.shape

(303, 14)

In [ ]:
# attributes
df.columns

In [4]:
df.isna().values.any()

False

In [5]:
df = df.iloc[:-3]

In [6]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
df = df.rename(columns = {'cp': 'chest_pain_type', 'trestbps': 'resting_blood_pressure', 'chol': 'cholestoral', 
                     'fbs': 'fasting_blood_sugar', 'restecg': 'resting_ecg', 'thalach': 'maximum_heart_rate',
                     'exang': 'exercise_angina', 'ca': 'num_major_vessels'})

In [8]:
df.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,resting_ecg,maximum_heart_rate,exercise_angina,oldpeak,slope,num_major_vessels,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1