In [1]:
import pandas as pd

In [2]:
# read the dataset
df = pd.read_csv('../../data/raw_data/Heart_Disease.csv')

In [3]:
# show the first 5 rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# dataset dimension
df.shape

(303, 14)

In [6]:
# show the column types
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [7]:
# number of unique values per feature
df.nunique().sort_values(ascending=False)

chol        152
thalach      91
trestbps     49
age          41
oldpeak      40
ca            5
thal          4
cp            4
slope         3
restecg       3
target        2
exang         2
fbs           2
sex           2
dtype: int64

In [8]:
# check if there are NaN values
df.isna().values.any()

False

In [9]:
# write dataset to csv file
df.to_csv('../../data/clean_data/Heart_Disease.csv')